<ul class="nav sidebar-menu">
  <!-- <li class="list-group-item" routerLink="/button"  routerLinkActive="active">button</li>
    <li class="list-group-item" routerLink="/navigation" routerLinkActive="active">navigation</li> 
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li> -->
  <li *ngFor="let link of links"  [class.active]="link==selectedLink" (click)="click(link)">
    <a class="col-xs-11" routerLink="{{link.path }}">
      <i class="fa fa-clipboard"></i>
      {{ link.name }}
    </a>
  </li>
</ul>