/* You can add global styles to this file, and also import other style files */

/*主页布局 */
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Open Sans','Segoe UI';
    font-size: 13px;    
}

.home-header {
    height: 3.5rem;
    position: relative;    
}

.home-container {
    background: #ffffff;
    width: 100%;
    position: absolute;
    top: 3.5rem;
    bottom: 0rem;
}
.home-left {
    width: 15rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
}
.home-left::before {
    content:"";
    position: absolute;
    width: 14.6875rem;
    bottom:0;
    top: 0rem;
    left: 5px;
}

.home-right {
    position: absolute;
    top: 0rem;
    left: 15rem;
    right: 0rem;
    bottom: 0rem;
}
.home-right-ns {
   height: 2.375rem;
   background:#f3f3f3;
   box-shadow: 5px 0 10px -5px rgba(0,0,0,.2) inset;
}

.home-right-tl {
   height: 2.375rem;
   width: 100%;
   position: absolute;
   top: 2.375rem;
   box-shadow: 5px 0 10px -5px rgba(0,0,0,.2) inset;
   /* box-shadow: 5px 0 10px -5px rgba(0,0,0,.2) inset; */
}

.home-right-ct{
    padding: 1rem 1rem;
    border-radius: .25rem;
    position: absolute;
    background: #eee;;
    width: 100%;
    top: 4.75rem;
    bottom: 0rem;
    box-shadow: 5px 0 10px -5px rgba(0,0,0,.2) inset; 
}
.home-right-ct div{
    margin-bottom: 1rem;
}
/* right container*/
.container-top{
    height: 3rem;
}
.container-tools{
    position: absolute;
    top: 4rem;
    left: 1rem;
    right: 1rem;
    height: 4rem;
}
.container-table{
    position: absolute;
    top: 7rem;
    bottom: 0rem;
    left: 1rem;
    right: 1rem;
}

/* table */
.table-container{
    position: absolute;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 2.5rem;
    overflow: auto;
}
.table-pagination {
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 0rem;
}

/* left */
.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}
.sidebar-menu li{
    display: block;
    margin: 0;
    padding: 0;
}

.sidebar-menu li a{
    position: relative;
    display: block;
    margin: 0;
    padding-left: 7px;
    padding-right: 16px;
    height: 2.375rem;
    line-height: 2.25rem;
    text-decoration:none;
    color: #737373;
}


.sidebar-menu a:hover{
    color: #262626;
}

.sidebar-menu>li>a:hover{
    background: #fbfbfb;
}

.sidebar-menu li.active>a{
    color: #262626;
}
.sidebar-menu>li.active>a{
    background: #f5f5f5;
}


/* .sidebar-menu>li.active {   
    background: #f5f5f5;
} */

.sidebar-menu>li.open>a{
    background : #fff;
}

.sidebar-menu>li>a{
    border-bottom: 1px solid #f3f3f3;
 }

.sidebar-menu a i.menu-icon{
   display: inline-block;
   width: 1rem;
   height: 1rem;
}

.sidebar-menu a i.menu-expand{
    display: inline-block;
    line-height: 10px;
    width: 10px;
    height:10px;
    position: absolute;
    top:15px;
    right: 12px;
    font-size: 13px;
}

.sidebar-menu a i.menu-expand::before{
    content: ">"
}

.sidebar-menu li.open>a i.menu-expand{
    transform: rotate(90deg);
}
.submenu{
    margin: 0;
    padding: 0;
}
.sidebar-menu>li>.submenu{
   background: #fbfbfb;
   box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15), inset 0 -4px 4px -2px rgba(0,0,0,.15);
} 
.sidebar-menu li .submenu>li>a{
    padding-left: 38px;
}

.sidebar-menu li .submenu>li.active>a{
    background: #f3f3f3;
}

.sidebar-menu li .submenu>li.open>a{
    background: #fbfbfb;
}

.sidebar-menu>li>.submenu>li.active:first-child>a{
    box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15)
}
.sidebar-menu>li>.submenu>li.active:last-child>a{
    box-shadow: inset 0 -4px 4px -2px rgba(0,0,0,.15)
}

.sidebar-menu li .submenu>li .submenu{
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.sidebar-menu li .submenu>li .submenu>li>a{
    padding-left: 56px;
}

.sidebar-menu li .submenu>li .submenu>li>a{
    padding-left: 56px;
}


/* Other */
 .btn-container {
     margin-left: 1rem;
     width: 5rem;
 }

.btn-container-right {
    margin-left: 1rem;
    width: 5rem;
    float: right;
}

.bg-home-header {
    background: #2dc3e8;
}



.bg-left-link {
    background: #f5f5f5;
}

.text-white {
    color:#fff; 
}


.errorColor {
    color: red;
}
a {
    cursor:pointer
}