/* You can add global styles to this file, and also import other style files */

/*主页布局 */
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;    
}

.home-header {
    height: 3.5rem;
    position: relative;    
}

.home-container {
    background: #ffffff;
    width: 100%;
    position: absolute;
    top: 3.5rem;
    bottom: 0rem;
}
.home-left {
    width: 15rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
}

.home-right {
    position: absolute;
    top: 0rem;
    left: 15rem;
    right: 0rem;
    bottom: 0rem;
}

.home-right-ns {
   height: 2.375rem;
   background:#f3f3f3;
}

.home-right-tl {
   height: 2.375rem;
   width: 100%;
   position: absolute;
   top: 2.375rem;
}

.home-right-ct{
    padding: 1rem 1rem;
    border-radius: .25rem;
    background:#f3f3f3;
    position: absolute;
    width: 100%;
    top: 4.75rem;
    bottom: 0rem;
}
  
.home-right-ct div{
    margin-bottom: 1rem;
}

/* right container*/
.container-top{
    height: 3rem;
}
.container-tools{
    position: absolute;
    top: 4rem;
    left: 1rem;
    right: 1rem;
    height: 4rem;
}
.container-table{
    position: absolute;
    top: 7rem;
    bottom: 0rem;
    left: 1rem;
    right: 1rem;
}

/* table */
.table-container{
    position: absolute;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 2.5rem;
    overflow: auto;
}
.table-pagination {
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 0rem;
}

/* left */

.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}
.sidebar-menu li{
    display: block;
    margin: 0;
    padding: 0;
}
.sidebar-menu li a{
    position: relative;
    display: block;
    margin: 0;
    padding-left: 1rem;
    height: 2.375rem;
    line-height: 2.25rem;
    text-decoration:none;
    border-bottom: 1px solid #f3f3f3;
    color: #737373;
}

.sidebar-menu li a{
    position: relative;
    display: block;
    margin: 0;
    padding-left: 1rem;
    height: 2.375rem;
    line-height: 2.25rem;
    text-decoration:none;
    border-bottom: 1px solid #f3f3f3;
    color: #737373;
    background: #ffffff;
}

.sidebar-menu li:hover{
    color: #262626;
    background : #f3f3f3;
}

.sidebar-menu li .submenu li a{
    background: #f3f3f3;
}



.sidebar-menu li.active a{
    color: #262626;
}

.sidebar-menu li.active {   
    color: #262626;
    background: #f5f5f5;
}

.sidebar-menu li.open{
    background : #fff;
}


.sidebar-menu a i.menu-icon{
   display: inline-block;
   width: 1 rem;
   height: 1rem;
}

.sidebar-menu a i.menu-expand{
    display: inline-block;
    line-height: 10px;
    width: 10px;
    height:10px;
    position: absolute;
    top:15px;
    right: 12px;
    font-size: 13px;
}
.sidebar-menu>li.open>a i.menu-expand{
    transform: rotate(90deg);
}
.sidebar-menu a i.menu-expand::before{
    content: "1"
}


/* Other */
 .btn-container {
     margin-left: 1rem;
     width: 5rem;
 }

.btn-container-right {
    margin-left: 1rem;
    width: 5rem;
    float: right;
}

.bg-home-header {
    background: #2dc3e8;
}



.bg-left-link {
    background: #f5f5f5;
}

.text-white {
    color:#fff; 
}


.errorColor {
    color: red;
}
a {
    cursor:pointer
}