/* You can add global styles to this file, and also import other style files */
.errorColor {
    color: red;
}

.home-right div{
    margin-bottom: 1rem;
 }

 .btn-container {
     margin-left: 1rem;
     width: 5rem;
 }

 a {
    cursor:pointer
 }