<div class="container">
    <h1>我是模板表单</h1>
    <form #myFrom="ngForm">
        <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" class="form-control" name="name" required appForbiddenName="bob" [(ngModel)]="user.name" #name="ngModel">
            <div class="alert alert-danger" *ngIf="name.invalid">
              名字不能为空
            </div>
          </div>
          <div class="form-group">
            <label for="age">年龄</label>
            <input type="text" class="form-control" name="age" required [(ngModel)]="user.age" #age="ngModel" >
            <div class="alert alert-danger" *ngIf="age.invalid" >
              年龄不能为空
            </div>
          </div>
          <div class="form-group">
            <label for="address">地址</label>
            <input type="text" class="form-control" name="address" required [(ngModel)]="user.address" #address="ngModel">
            <div class="alert alert-danger"  *ngIf="address.invalid">
              地址不能为空
            </div>
          </div>
          <button type="submit" class="btn btn-default"  [disabled]="myFrom.invalid">
            提交
          </button>
          <button class="btn btn-default" >
            重置
          </button>
    </form>
</div>
